<form>
  <p>{{input class="new-bandb" placeholder="Name" value=bandb-name}}</p>
  <p>{{input class="new-bandb" placeholder="Price Range" value=bandb-price}}</p>
  <p>{{input class="new-bandb" placeholder="Location" value=bandb-location}}</p>
  <p>{{input class="new-bandb" placeholder="Description" value=bandb-description}}</p>
  <p>{{input class="new-bandb" placeholder="Website" value=bandb-website}}</p>
  <p>{{input class="new-bandb" placeholder="Image address" value=bandb-image}}</p>
  <p><button {{action 'bandbCreate'}}  class="btn btn-success btn-lg">Add</button></p>
</form>
